.player{
    width:100px;
    height:100px;
    display:none;
}
#playground{
    position:absolute;
    top:10px;
    left:calc(50% - 250px);
}
.start-btn{
    width:200px;
    height:100px;
    position:absolute;
    top:410px;
    left:calc(50% - 100px);
    color:#fff;
    background:red;
    border:none;
    border-radius:10px;
    cursor:pointer;
    outline:none;
    font:42px roboto,sans-serif;
}